.bckimage {
    background-image: url(./photos/schoolimg1.jpg);
    background-repeat: no-repeat;
    color:white;
    background-size:cover ;
    filter: blur(8px);
    -webkit-filter: blur(1px);
    font-weight: bold;
}

.bckimage i 
{
color:rgb(99, 99, 30);
}  

